schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="sudoku" type="sudokuType"/>

    <xsd:complexType name="sudokuType">
        <xsd:sequence>
            <xsd:element name="row" type="rowType" minOccurs="9" maxOccurs="9">
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="rowType">
        <xsd:sequence>
            <xsd:element name="cell" type="cellType" minOccurs="9" maxOccurs="9">
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cellType">
        <xsd:attribute name="v" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                    <xsd:minInclusive value="1"/>
                    <xsd:maxInclusive value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>


</xsd:schema>